/* common styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
section {
  width: 1320px;
  margin: 0 auto;
}
.text-red {
  color: #f00;
}

/* banner section */
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 50px auto;
  border-radius: 16px;
}

.banner-sub-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
  padding-bottom: 16px;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section */
.discount {
  text-align: center;
  margin-top: 70px;
  font-family: Inter;
}
.discount-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-slogan {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* midnight-party section */
.midnight-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 120px auto;
  border-radius: 16px;
  display: flex;
  gap: 40px;
}
.midnight-party-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-top: 126px;
  margin-left: 126px;
}
.midnight-party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 126px;
  margin-top: 24px;
}
.midnight-party-image {
  padding-right: 138px;
  margin-top: 67px;
  margin-bottom: 68px;
}
.midnight-party-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 48px;
  margin-left: 158px;
}

/* event-info section */
.event-info {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  height: 482px;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
  padding-top: 100px;
  border-radius: 16px;
}
.event-info-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.event-info-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  margin-top: 48px;
  cursor: pointer;
}

/* best-offer section */
.best-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
}
.content-left {
  padding-right: 70px;
}
.content-left .sub-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 104px;
  margin-bottom: 16px;
}
.content-left .title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.content-left .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 104px;
}
.content-center {
  border-radius: 463px;
  border: 15px solid #f00;
}
.content-center img {
  padding: 49px;
}

.content-right {
  padding-left: 118px;
}

.content-right .title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 112px;
  margin-bottom: 16px;
}
.content-right .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

.content-right img {
  margin-right: 136px;
}

/* holiday-sale section */
.holiday-sale {
  margin: 0 auto;
  text-align: center;
}
.holiday-sale .pre-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holiday-sale .title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holiday-sale .description {
  color: rgba(7, 2, 17, 0.6);
  padding: 0 126px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}
.holiday-sale-image {
  background-image: url("../resources/Rectangle\ 1.png");
  background-repeat: no-repeat;
  height: 434px;
  border-radius: 16px 16px 0px 0px;
  background-position: right;
  position: relative;
}
.holiday-sale-image .discount-logo {
  position: absolute;
  right: 286px;
  top: 86px;
  z-index: 1;
}

.holiday-sale-image .gift-box {
  position: absolute;
  left: 0;
  top: 1px;
}
.red-bg {
  background-image: url("../resources/Rectangle\ 2.png");
  background-repeat: no-repeat;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background-position: bottom;
}

/* portfolio section */
.portfolio {
  margin: 120px auto;
}
.portfolio-pre-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  width: 896px;
}

.portfolio .image-container .row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  transition: 0.5s ease-in-out;
}
.portfolio .image-container .row img:hover {
  rotate: 3deg;
  scale: 1.3;
  transition: 0.3s ease-in-out;
}

/* newsletter section */
.newsletter {
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-bottom: 80px;
  padding-bottom: 80px;
}
.newsletter img {
  margin-top: 80px;
}
.newsletter-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 22px;
}

.newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  width: 896px;
  margin: 0 auto;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.input-container {
  width: 648px;
  height: 72px;
  max-width: 100%;
  position: relative;
  margin: 48px 336px 0px 336px;
}

.input-container input {
  border-radius: 50px;
  height: 100%;
  background: #fff;
  width: 100%;
  border: none;
  outline: none;
  color: #070211;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
}
.input-container input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.input-container button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 100%;
  position: absolute;
  border: none;
  outline: none;
  right: 0;
  top: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

/* footer section */
footer {
  width: 1600px;
  background-color: #070211;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer-top .address {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 120px;
  width: 375px;
}
.footer-top .contacts {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 120px;
  margin-right: 135px;
}
.footer-top .contacts .phone,
.web {
  display: flex;
  gap: 16px;
}

.footer-top .contacts .phone img,
.web img {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.footer-icons hr {
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
}
.footer-icons .icons {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-icons .icons a:hover {
  scale: 1.6;
  rotate: 360deg;
  transition: 0.3s ease-in-out;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-bottom p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 120px;
}
.footer-bottom a {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
